<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StatTag.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>StatTag.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>StatTagFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>StatTagFrameworkTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>StatTagHelp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3816ABF51ED5C1B10045390E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38245DE81D63940A00CB1C87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>382C8D221D0F672F00FE6878</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>382C8D401D101C2700FE6878</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3836F5491D92C89900BF0DD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3836F55E1D92C89900BF0DD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3836F5691D92C89A00BF0DD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>385EF1481D95D672005768C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>385EF1501D95D672005768C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>387D6EFB1D5A845400C4087F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38BE597D1D529A7E00FF9E99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38BE598F1D529A7E00FF9E99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38BE599A1D529A7E00FF9E99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38CFC6511ED30741005A0DBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38EA33121D6B7EF200963667</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38EA33271D6B7EF300963667</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38EA33321D6B7EF300963667</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
